<div class="page-wrapper" id="login-page">
  <div class="page-content login-section card">
    <h1>Remember everything you have todo</h1>
    <h2>{{title$ | async}}</h2>
    <form [formGroup]="loginForm" novalidate class="login-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="login-form-input">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeHolder="password"/>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>
